.fa-circle-check {
    color: rgb(0, 201, 0);
}


h4 {
    color: rgb(97, 97, 97);
    font-family: 'Robot Condensed';
}


.fa-circle-notch {
    background: linear-gradient(to right, #00aa00 0%, #00ff4c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #000000;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


